@media screen and (max-width: 767.98px) {
    .calculation-form {
        padding: 52px 30px 34px;

        .btn.btn-lg {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    .form-row {
        flex-direction: column;
        margin-bottom: 22px;
    }

    .form-column {
        width: 100%;
    }
}
