@use '../variables'as variables;

@media screen and (max-width: 991.98px) {
    section {
        margin-bottom: variables.$section-margin-mobile;
    }

    h2 {
        font-size: 24px;
    }

    .bg-accent {
        padding: 55px 0 60px;
    }

    .logo {
        max-width: 126px;
    }

    .navbar {
        padding: 15px 0 15px;
    }

    .navbar-collapse {
        background-color: variables.$bg-color-accent;
        margin: 0 -24px;
        padding: 0 40px 0;
        text-align: center;
        transform: translate(0, 15px);
    }

    .navbar-nav {
        padding: 37px 0 34px;

        +.btn {
            margin-bottom: 60px;
            width: 100%;
            max-width: 295px;
            padding: 21px 27px;
            font-size: 16px;
        }
    }

    .nav-link {
        font-size: 24px;
        line-height: 222%;
    }

    .bg-accent {
        &:before {
            border-radius: 0;
            inset: 0;
        }

        .container {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .template-title {
        &.template-title_case-3 {
            text-align: center;
            max-width: 100%;
            padding-bottom: 70px;

            h2 {
                &::after {
                    @include variables.title-line;
                    margin: 0;
                }
            }
        }

        &.template-title_case-2 {
            text-align: center;

            h2 {
                &::after {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .swiper-banner {
        .swiper-slide {
            display: flex;
            align-items: center;
            text-align: center;
            min-height: calc(100vh - var(--header-height));

            &:before {
                content: "";
                position: absolute;
                background-color: rgb(4 9 17 / 60%);
                inset: 0;
                z-index: -1;
            }

            .container {
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .banner-title {
                font-size: 32px;
            }

            .banner-description {
                font-size: 16px;
                margin-bottom: 18px;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        &:after {
            display: none;
        }
    }

    .calculation-img {
        display: none;
    }

    .input-box_checkbox:first-child {
        margin-top: 6px;
    }

    .advantage__title {
        max-width: 218px;
        margin: 0 auto 40px;
    }

    .about {
        .container {
            flex-direction: column;
        }

        p {
            text-align: justify;
        }

        img {
            height: auto;
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    .questions__row {
        flex-direction: column;
        gap: 28px;
    }

    .questions {
        .accordion {
            .accordion-item {
                .accordion-button {
                    font-size: 16px;
                    padding: 12px 22px;
                    display: flex;
                    gap: 50px;
                }

                .accordion-body {
                    padding: 0px 22px 12px;
                    font-size: 14px;
                }
            }
        }
    }

    .questions-form {
        text-align: center;
    }

    .partnership__content {
        flex-direction: column;
        gap: 24px;

        &-item {
            width: 100%;
            font-size: 16px;

            p {
                margin-bottom: 12px;
            }
        }
    }

    .order-mobile-negative {
        order: -1;
    }

    .footer {
        .footer__row {
            justify-content: center;

            .footer__column:not(.footer__column_contacts) {
                display: none;
            }

            .footer__column_contacts {
                text-align: center;

                .social {
                    justify-content: center;
                }
            }
        }
    }
}
