@media screen and (max-width: 1399.98px) {
    .navbar-nav {
        max-width: 540px;
    }

    .swiper-banner {
        .swiper-slide {
            .container {
                padding: 163px 72px 73px;
            }
        }
    }

    .template-carousel {
        margin: 0 auto;
        max-width: 750px;
    }

    .calculation-img {
        left: 590px;
    }
}
