@media screen and (max-width: 991.99px) {
    .logo {
        max-width: 126px;
    }

    .navbar {
        padding: 15px 0 15px;
    }

    .navbar-collapse {
        background-color: $bg-color-accent;
        margin: 0 -12px;
        padding: 0 40px 0;
        text-align: center;
        transform: translate(0, 15px);
    }

    .navbar-nav {
        padding: 37px 0 34px;

        +.btn {
            margin-bottom: 60px;
            width: 100%;
            max-width: 295px;
            padding: 21px 27px;
            font-size: 16px;
        }
    }

    .nav-link {
        font-size: 24px;
        line-height: 222%;
    }
}
