@use 'variables'as variables;

.advantages {
    .swiper-pagination {
        position: static;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: calc(100% - 59px);
    }
}

.advantage {
    text-align: center;
}

.advantage__img-box {
    @include variables.flex-centered;
    width: 113px;
    height: 113px;
    border: 1px solid #6C7188;
    border-radius: 50%;
    margin: 0 auto 22px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 10px;
        background: variables.$secondary-color;
        border-radius: 50%;
        z-index: -1;
    }
}

.advantage__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.24;
    max-width: 262px;
}
