@use 'variables'as variables;

.calculation {
    .template-title {
        padding-bottom: 52px;
    }

    .container {
        position: relative;
    }
}

.calculation-form {
    max-width: 626px;
    background-color: variables.$bg-color-accent;
    border-radius: 20px;
    padding: 50px 50px 60px;
    font-size: 15px;
}

.calculation-img {
    position: absolute;
    bottom: -100px;
    left: 610px;
}
