@use 'variables'as variables;

.card {
    border-radius: 20px;
    background-color: variables.$bg-color-accent;
    text-align: center;
    width: 360px;
    border: none;

    &__img-box {
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }

    &-body {
        padding: 27px 20px;
    }

    &-title {
        font-size: 22px;
        margin-bottom: 12px;
    }

    &__options-list {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 34px;
        padding: 0;
        margin-bottom: 8px;
    }

    &__options-item {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 8px;
    }

    &__price {
        margin-bottom: 22px;
        font-size: 22px;

        span {
            &:first-child {
                color: #a3a3a3;
            }
        }

        strong {
            font-size: 45px;
            line-height: 1.25;
        }
    }

    &__btn-row {
        display: flex;
        gap: 14px;

        .btn {
            width: 50%;
        }
    }


    &.card_services {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%);
            border-radius: 20px;
        }

        .card-body {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: end;
            z-index: 1;
        }
    }
}
