@use 'variables'as variables;

.swiper-banner {
    width: 100%;
    max-width: 1820px;

    .swiper-slide {
        min-height: 700px;
        background-color: variables.$bg-color-accent;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .container {
            padding-top: 163px;
            padding-bottom: 73px;
        }
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: calc(100% - 59px);
    }

    .swiper-button-arows {
        --padding: 20px;
        position: absolute;
        height: 0px;
        width: 100%;
        max-width: calc(1503px + var(--padding) * 2);
        padding: 0 var(--padding);
        left: 50%;
        top: calc(50% - 23px);
        transform: translate(-50%, -50%);
        z-index: 1;
        display: flex;
        justify-content: space-between;
    }
}

.banner-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.26;
    text-transform: uppercase;
    max-width: 470px;
    margin-bottom: 8px;
}

.banner-description {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.36;
    max-width: 320px;
    margin-bottom: 37px;
}
