html {
    font-size: 16px;
}

body {
    font-family: "ProximaNova";
    background-color: $bg-color;
    color: $color;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.26;
    font-weight: 700;
}

h1 {
    font-size: 56px;
    line-height: 1.26;
}

h2 {
    font-size: 36px;
    line-height: 1.245;
}

h3 {
    font-size: 22px;
    line-height: 1.245;
}

h4 {
    font-size: 20px;
    line-height: 1.355;
}

h5 {
    font-size: 18px;
    line-height: 1.245;
}

h6 {
    font-size: 17px;
    line-height: 1.26;
}

.btn {
    font-size: 15px;
    border-radius: 90px;
    background-color: $primary-color;
    border-color: $primary-color;
    color: $color;
    padding: 12px 27px;

    &:hover {
        background-color: transparent;
        border-color: $primary-color;
    }

    &.btn-sm {
        padding: 12px 18px;
    }

    &.btn-lg {
        font-size: 16px;
        padding: 20px 18px 19px 35px;

        img {
            margin-left: 48px;
        }
    }

    &.btn-secondary {
        background-color: transparent;

        &:hover {
            background-color: $primary-color;
        }
    }
}

.template-title {
    text-align: center;
    position: relative;
    padding-bottom: 70px;

    h2 {
        text-transform: uppercase;
        margin-bottom: 7px;

        &:after {
            content: "";
            position: absolute;
            width: 85px;
            height: 2px;
            background-color: $primary-color;
            bottom: 55px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    h3 {
        font-weight: 400;
        font-size: 24px;

    }

    &.template-title_case-2 {
        text-align: left;
        left: 0;
        transform: translateX(0);

        h2 {
            &:after {
                left: 0;
                transform: translateX(0);
            }
        }
    }

    &.template-title_case-3 {
        max-width: 626px;
        text-align: left;

        h2 {
            &:after {
                position: static;
                display: inline-block;
                transform: translateX(0);
                margin: 0 0 8px 20px;
            }
        }
    }
}
