@use 'variables' as variables;

.logo {
    max-width: 172px;
}

.navbar {
    padding: 26px 0 40px;
}

.navbar-nav {
    max-width: 618px;
}

.nav-link {
    color: variables.$color;

    &:hover,
    &:focus {
        color: variables.$primary-color;
    }
}

.hamburger {
    padding: 5px 7px;

    &:focus {
        box-shadow: none;
    }
}

.hamburger-box {
    width: 27px;
    height: 25px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff;
    width: 27px;
    height: 2px;
}
