///fonts///
$font-primary: "Open Sans";
$font-secondary: "monospace";
$font-size: 16px;

///colors///
$primary-color: #E58D35;
$secondary-color: #89C249;
$bg-color: #282B38;
$bg-color-accent: #363A4D;
$color: #ffffff;

$section-margin: 100px;
$section-margin-mobile: 60px;

@mixin title-line {
    content: "";
    position: absolute;
    width: 85px;
    height: 2px;
    background-color: $primary-color;
    bottom: 54px;
    left: 50%;
    transform: translate(-50%);
}

@mixin swiper-arrow-container {
    --padding: 20px;
    position: absolute;
    height: 0px;
    width: 100%;
    max-width: calc(1503px + var(--padding) * 2);
    padding: 0 var(--padding);
    left: 50%;
    top: calc(50% - 23px);
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

@mixin flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
