///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #E58D35;
$secondary-color: #89C249;
$bg-color: #282B38;
$bg-color-accent: #363A4D;
$color: #fff;

$section-margin: 100px;
