<section class="advantages bg-accent">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div id="advantages" class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-1.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Таможенное оформление груза</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-2.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Страховка груза</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-3.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Проверка товара на брак</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-4.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Доставка в любой город Украины</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-5.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Консолидация на складе</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-6.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Ответственное хранение груза</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-7.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Помощь в оплате товара</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-8.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Упаковка, переупаковка, паллетирование груза</h6>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>