<section class="advantages bg-accent">
    <div class="container">
        <div class="template-title">
            <h2>Чому варто вибрати саме нас?</h2>
        </div>
        <div id="advantages" class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-1.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Митне оформлення вантажу</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-2.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Страхування вантажу</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-3.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Перевірка товару на брак</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-4.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Доставка в будь-яке місто України</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-5.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Консолідація на складі</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-6.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Відповідальне зберігання вантажу</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-7.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Допомога в оплаті товару</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage__img-box">
                            <img src="./assets/img/advantage-8.svg" alt="advantage__img">
                        </div>
                        <h6 class="advantage__title">Упаковка, переупаковка, палетування вантажу</h6>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>