<section id="calculation" class="calculation">
    <div class="container">
        <div class="template-title template-title_case-3">
            <h2>Получить рассчет стоимости доставки вашего груза</h2>
        </div>
        <form class="calculation-form">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-box">
                        <label for="product-category">Категория товара:</label>
                        <input type="text" id="product-category" placeholder="Категория товара">
                    </div>
                    <div class="input-box">
                        <label for="weight-cargo">Вес груза (кг):</label>
                        <input type="number" id="weight-cargo" placeholder="Введите вес" inputmode="numeric">
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="cost-cargo">Стоимость груза:</label>
                        <input type="number" id="cost-cargo" placeholder="Введите стоимость" inputmode="numeric">
                    </div>
                    <div class="input-box">
                        <label for="volume-cargo">Объем груза (м3):</label>
                        <input type="number" id="volume-cargo" placeholder="Введите объем" inputmode="numeric">
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box input-box_checkbox">
                        <input type="checkbox" id="insurance">
                        <label for="insurance">Страховка</label>
                    </div>
                    <div class="input-box input-box_checkbox">
                        <input type="checkbox" id="customs-clearance">
                        <label for="customs-clearance">Таможенное оформление</label>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="HS-code">Код ТН ВЭД:</label>
                        <input type="text" id="HS-code" placeholder="Введите код" inputmode="text">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="input-box">
                    <div class="file-name" class="file-name"></div>
                    <input id="calculation-file" type="file">
                    <label for="calculation-file">Загрузить фото товара</label>
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-lg">Следующий шаг <img src="./assets/img/icon-arrow-left.svg"
                    alt="arrow"></a>
        </form>
        <!-- <img src="./assets/img/calculation-person.png" alt="calculation person"> -->
    </div>
</section>