<section id="calculation" class="calculation">
    <div class="container">
        <div class="template-title template-title_case-3">
            <h2>Отримати розрахунок вартості доставки вашого вантажу</h2>
        </div>
        <form class="calculation-form">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-box">
                        <label for="product-category">Категорія товару:</label>
                        <select id="product-category">
                            <option value="1">Легкий</option>
                            <option value="2">Середній</option>
                            <option value="3">Важкий</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label for="weight-cargo">Вага вантажу (кг):</label>
                        <input type="number" id="weight-cargo" placeholder="Введіть вагу">
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="cost-cargo">Вартість вантажу</label>
                        <input type="number" id="cost-cargo" placeholder="Введіть вартість">
                    </div>
                    <div class="input-box">
                        <label for="volume-cargo">Об'єм вантажу (м3):</label>
                        <input type="number" id="volume-cargo" placeholder="Введіть обсяг">
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box input-box_checkbox">
                        <input type="checkbox" id="insurance">
                        <label for="insurance">Страхування</label>
                    </div>
                    <div class="input-box input-box_checkbox">
                        <input type="checkbox" id="customs-clearance">
                        <label for="customs-clearance">Митне оформлення</label>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="HS-code">Код ТН ЗЕД:</label>
                        <input type="text" id="HS-code" placeholder="Введіть код">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="input-box">
                    <div class="file-name"></div>
                    <input id="calculation-file" type="file">
                    <label for="calculation-file">Завантажити фото товару</label>
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-lg">Наступний крок <img src="./assets/img/icon-arrow-left.svg" alt="arrow"></a>
        </form>
        <img src="./assets/img/calculation-person.png" class="calculation-img" alt="calculation-person">
    </div>
</section>