<section id="delivery" class="delivery">
    <div class="container">
        <div class="template-title">
            <h2>Варіанти доставки вантажів з Китаю</h2>
        </div>
        <div class="template-carousel">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card__img-box" role="img" aria-label="Description of the overall image">
                                <img src="./assets/img/delivery-1.png" class="card-img-top" alt="card__img">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Авто - звичайна</h5>
                                <ul class="card__options-list">
                                    <li class="card__options-item">
                                        <img src="./assets/img/icon-calendar.svg" alt="calendar">9-15 днів
                                    </li>
                                    <li class="card__options-item">
                                        <img src="./assets/img/icon-box.svg" alt="box">від 5 кг
                                    </li>
                                </ul>
                                <div class="card__price">
                                    <span>від</span>
                                    <strong>1,5</strong>
                                    <span>$/кг</span>
                                </div>
                                <div class="card__btn-row">
                                    <a href="#" class="btn btn-sm btn-primary">Залишити заявку</a>
                                    <a href="#" class="btn btn-sm btn-secondary">Докладніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card__img-box" role="img" aria-label="Description of the overall image">
                                <img src="./assets/img/delivery-2.png" class="card-img-top" alt="card__img">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Авто - прискорена</h5>
                                <ul class="card__options-list">
                                    <li class="card__options-item">
                                        <img src="./assets/img/icon-calendar.svg" alt="calendar">9-15 днів
                                    </li>
                                    <li class="card__options-item">
                                        <img src="./assets/img/icon-box.svg" alt="box">від 5 кг
                                    </li>
                                </ul>
                                <div class="card__price">
                                    <span>від</span>
                                    <strong>2,5</strong>
                                    <span>$/кг</span>
                                </div>
                                <div class="card__btn-row">
                                    <a href="#" class="btn btn-sm btn-primary">Залишити заявку</a>
                                    <a href="#" class="btn btn-sm btn-secondary">Докладніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card__img-box" role="img" aria-label="Description of the overall image">
                                <img src="./assets/img/delivery-3.png" class="card-img-top" alt="card__img">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Авіа</h5>
                                <ul class="card__options-list">
                                    <li class="card__options-item">
                                        <img src="./assets/img/icon-calendar.svg" alt="calendar">9-15 днів
                                    </li>
                                    <li class="card__options-item">
                                        <img src="./assets/img/icon-box.svg" alt="box">від 5 кг
                                    </li>
                                </ul>
                                <div class="card__price">
                                    <span>від</span>
                                    <strong>3,5</strong>
                                    <span>$/кг</span>
                                </div>
                                <div class="card__btn-row">
                                    <a href="#" class="btn btn-sm btn-primary">Залишити заявку</a>
                                    <a href="#" class="btn btn-sm btn-secondary">Докладніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card__img-box" role="img" aria-label="Description of the overall image">
                                <img src="./assets/img/delivery-4.png" class="card-img-top" alt="card__img">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Залізниця</h5>
                                <ul class="card__options-list">
                                    <li class="card__options-item">
                                        <img src="./assets/img/icon-calendar.svg" alt="calendar">9-15 днів
                                    </li>
                                    <li class="card__options-item">
                                        <img src="./assets/img/icon-box.svg" alt="box">від 5 кг
                                    </li>
                                </ul>
                                <div class="card__price">
                                    <span>від</span>
                                    <strong>2,5</strong>
                                    <span>$/кг</span>
                                </div>
                                <div class="card__btn-row">
                                    <a href="#" class="btn btn-sm btn-primary">Залишити заявку</a>
                                    <a href="#" class="btn btn-sm btn-secondary">Докладніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card__img-box" role="img" aria-label="Description of the overall image">
                                <img src="./assets/img/delivery-5.png" class="card-img-top" alt="card__img">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Море</h5>
                                <ul class="card__options-list">
                                    <li class="card__options-item">
                                        <img src="./assets/img/icon-calendar.svg" alt="calendar">9-15 днів
                                    </li>
                                    <li class="card__options-item">
                                        <img src="./assets/img/icon-box.svg" alt="box">від 5 кг
                                    </li>
                                </ul>
                                <div class="card__price">
                                    <span>від</span>
                                    <strong>4,5</strong>
                                    <span>$/кг</span>
                                </div>
                                <div class="card__btn-row">
                                    <a href="#" class="btn btn-sm btn-primary">Залишити заявку</a>
                                    <a href="#" class="btn btn-sm btn-secondary">Докладніше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-arrow-container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>