<section id="delivery" class="delivery">
    <div class="container">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="card">
            <div class="card__img-box" role="img" aria-label="Description of the overall image">
                <img src="./assets/img/delivery-1.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Авто - обычная</h5>
                <ul class="card__options-list">
                    <li class="card__options-item">
                        <img src="./assets/img/icon-calendar.svg" alt="calendar">9-15 дней
                    </li>
                    <li class="card__options-item">
                        <img src="./assets/img/icon-box.svg" alt="box">от 5 кг
                    </li>
                </ul>
                <div class="card__price">
                    <span>от</span>
                    <strong>2,5</strong>
                    <span>$/кг</span>
                </div>
                <div class="card__btn-row">
                    <a href="#" class="btn btn-sm btn-primary">Оставить заявку</a>
                    <a href="#" class="btn btn-sm btn-secondary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>