<section class="swiper swiper-banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(./assets/img/banner-1.png);">
            <div class="container">
                <h2 class="banner-title">Пряме КАРГО з Китаю</h2>
                <h5 class="banner-description">Доставляємо будь-які вантажі з Китаю за чесною ціною</h5>
                <a href="#calculation" class="btn btn-primary btn-lg">Розрахувати вартість <img src="./assets/img/icon-arrow-left.svg" alt="arrow"></a>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(./assets/img/banner-2.png);">
            <div class="container">
                <h2 class="banner-title">Оренда складу</h2>
                <h5 class="banner-description">Доставляємо будь-які вантажі з Китаю за чесною ціною</h5>
                <a href="#calculation" class="btn btn-primary btn-lg">Розрахувати вартість <img src="./assets/img/icon-arrow-left.svg" alt="arrow"></a>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(./assets/img/banner-3.png);">
            <div class="container">
                <h2 class="banner-title">Викуп товару з ТаоБао, 1688</h2>
                <h5 class="banner-description">Викуп та доставка товарів з китайських торгових майданчиків</h5>
                <a href="#calculation" class="btn btn-primary btn-lg">Розрахувати вартість <img src="./assets/img/icon-arrow-left.svg" alt="arrow"></a>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(./assets/img/banner-4.png);">
            <div class="container">
                <h2 class="banner-title">Експрес авто доставка</h2>
                <h5 class="banner-description">Доставляємо будь-які вантажі з Китаю за чесною ціною</h5>
                <a href="#calculation" class="btn btn-primary btn-lg">Розрахувати вартість <img src="./assets/img/icon-arrow-left.svg" alt="arrow"></a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-arows">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

