<div class="swiper swiper-banner">

    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(./assets/img/banner-1.png);">
            <div class="container">
                <h2 class="banner-title">Прямое КАРГО из Китая</h2>
                <h5 class="banner-description">Доставляем любые грузы из Китая по честной цене</h5>
                <a href="#" class="btn btn-primary btn-lg">Рассчитать стоимость <img src="./assets/img/icon-arrow-left.svg" alt="arrow"></a>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(./assets/img/banner-2.png);">
            <div class="container">
                <h2 class="banner-title">Аренда склада</h2>
                <h5 class="banner-description">Доставляем любые грузы из Китая по честной цене</h5>
                <a href="#" class="btn btn-primary btn-lg">Рассчитать стоимость <img src="./assets/img/icon-arrow-left.svg" alt="arrow"></a>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(./assets/img/banner-3.png);">
            <div class="container">
                <h2 class="banner-title">Выкуп товара с ТаоБао, 1688</h2>
                <h5 class="banner-description">Выкуп и доставка товаров с китайских торговых площадок. </h5>
                <a href="#" class="btn btn-primary btn-lg">Рассчитать стоимость <img src="./assets/img/icon-arrow-left.svg" alt="arrow"></a>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url(./assets/img/banner-4.png);">
            <div class="container">
                <h2 class="banner-title">Экспресс авто доставка</h2>
                <h5 class="banner-description">Доставляем любые грузы из Китая по честной цене</h5>
                <a href="#" class="btn btn-primary btn-lg">Рассчитать стоимость <img src="./assets/img/icon-arrow-left.svg" alt="arrow"></a>
            </div>
        </div>
    </div>

    <div class="swiper-pagination"></div>
    
    <div class="swiper-button-arows">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
