<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="logo" href="#">
                <picture>
                    <source media="(min-width: 992px)" srcset="./assets/img/logo.svg">
                    <img src="./assets/img/logo-mobile.svg" class="img-fluid" alt="logo">
                </picture>
            </a>
            <button class="navbar-toggler hamburger hamburger--collapse" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav w-100 justify-content-between mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Цены и сроки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">О компании</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#calculation">Оформить груз</a>
                    </li>
                </ul>
                <a href="#" class="btn btn-primary">Оставить заявку</a>
            </div>
        </div>
    </nav>
</header>

<!-- <div class="container">
    <a href="#" class="btn btn-primary">Оставить заявку</a>
    <a href="#" class="btn btn-primary btn-sm">Оставить заявку</a>
    <a href="#" class="btn btn-primary btn-lg">Рассчитать стоимость <img src="./assets/img/icon-arrow-left.svg" alt="arrow"></a>
    <a href="#" class="btn btn-secondary">Подробнее</a>
</div> -->