<section id="partnership" class="partnership bg-accent">
    <div class="container">
        <div class="template-title">
            <h2>Готовы к сотрудничеству?</h2>
            <h3>Зарегистрируйте груз!</h3>
        </div>
        <div class="partnership__content">
            <div class="partnership__content-item">
                <p>• Для того, чтобы начать сотрудничество, необходимо оформить груз указав информацию о содержимом груза, его стоимость и количество. А так же прикрепив фотографии к заявке.</p>
                <p>• Если требуется проверка товара на соответствие количеству, то при оформлении груза на нашем сайте укажите это в графе "Примечание". Данная услуга платная и составляет 3 юаня за одну позицию в заказе. Любые дополнительные проверки груза обсуждаются индивидуально в том числе и их стоимость.</p>
                <p>• До отправки груза на наш склад в Китае обязательно позаботьтесь о том, чтобы сделать маркировку, с номером Вашего заказа у нас на сайте, для каждой внешней коробки, чтобы мы смогли определить именно Ваш груз. Если у Вас нет возможности сделать это самостоятельно, то попросите о б этом своего поставщика.</p>
            </div>
            <div class="partnership__content-item order-mobile-negative">
                <img src="./assets/img/partnership-1.png" alt="partnership">
            </div>
            <div class="partnership__content-item">
                <img src="./assets/img/partnership-2.png" alt="partnership">
            </div>
            <div class="partnership__content-item">
                <p>• После отправки груза на наш склад в Китае, Вам обязательно нужно указать трек-номер для отслеживания посылок по Китаю для каждой позиции в заказе. Внести трек-номер можно на странице заказа. Трек-номер - это ещё одна мера для идентификации Вашего груза на нашем складе.</p>
                <p>• Если Вы оформили груз по нашей инструкции и сделали все правильно, то при получении Вашего груза на складе в Китае статус заказа изменится на "На складе".</p>
                <p>• При поступлении груза на склад и изменении статуса заказа, Вы получите уведомление на электронную почту, указанную при регистрации. В письме будет указана актуальная информация по заказу, включая дату поступления, номер заказа и дальнейшие шаги по его обработке.</p>
            </div>
        </div>
    </div>
</section>