<section id="partnership" class="partnership bg-accent">
    <div class="container">
        <div class="template-title">
            <h2>Чи готові до співпраці?</h2>
            <h3>Зареєструйте вантаж!</h3>
        </div>
        <div class="partnership__content">
            <div class="partnership__content-item">
                <p>• Для того, щоб розпочати співпрацю, необхідно оформити вантаж вказавши інформацію про вміст вантажу, його вартість та кількість. А також прикріпивши фотографії до заявки.</p>
                <p>• Якщо потрібна перевірка товару на відповідність кількості, при оформленні вантажу на нашому сайті вкажіть це у графі "Примітка". Дана послуга платна і складає 3 юаня за одну позицію на замовлення. Будь-які додаткові перевірки вантажу обговорюються індивідуально, у тому числі й їх вартість.</p>
                <p>• До відправки вантажу на наш склад в Китаї обов'язково подбайте про те, щоб зробити маркування, з номером Вашого замовлення у нас на сайті, для кожної зовнішньої коробки, щоб ми змогли визначити саме Ваш вантаж. Якщо у Вас немає можливості зробити це самостійно, то попросіть про це свого постачальника.</p>
            </div>
            <div class="partnership__content-item order-mobile-negative">
                <img src="./assets/img/partnership-1.png" alt="partnership">
            </div>
            <div class="partnership__content-item">
                <img src="./assets/img/partnership-2.png" alt="partnership">
            </div>
            <div class="partnership__content-item">
                <p>• Після відправки вантажу на наш склад у Китаї, Вам обов'язково потрібно вказати трек-номер для відстеження посилок по Китаю для кожної позиції на замовлення. Внести трек-номер можна на сторінці замовлення. Трек-номер – це ще один захід для ідентифікації Вашого вантажу на нашому складі.</p>
                <p>• Якщо Ви оформили вантаж за нашою інструкцією та зробили все правильно, то при отриманні Вашого вантажу на складі у Китаї статус замовлення зміниться на "На складі".</p>
                <p>• При надходженні вантажу на склад та зміні статусу замовлення Ви отримаєте повідомлення на електронну пошту, вказану під час реєстрації. У листі буде вказано актуальну інформацію на замовлення, включаючи дату надходження, номер замовлення та подальші кроки щодо його обробки.</p>
            </div>
        </div>
    </div>
</section>