<section id="questions" class="questions">
    <div class="container">
        <div class="template-title">
            <h2>Часті питання</h2>
        </div>
        <div class="questions__row">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Як розраховується вартість доставки?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Ціна формується на основі ваги або обсягу вантажу, а також обраного способу доставки.
                            авіа, залізничним або морем. Ми робимо розрахунок заздалегідь, щоб ви знали підсумкову суму
                            ще до відправки.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Як відбувається оплата за доставку вантажу?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Після прибуття вантажу ми зважуємо та уточнюємо його обсяг, потім виставляємо рахунок.
                            Оплату можна внести зручним для вас способом - переведенням на карту або за реквізитами.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Чи можна відстежувати вантаж під час доставки?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Так, ми надаємо можливість відстеження. Після відправки ви отримуєте трек-номер або
                            посилання, де можна в реальному часі бачити статус і місцезнаходження вашого вантажу.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Чи можна через вас сплатити товар постачальнику?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Так, ми надаємо таку послугу, ми можемо взяти оплату товару у Китаї на себе. Якщо у вас
                            немає валютного рахунку, то можете сплатити товар у гривнях на наш рахунок.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            У чому особливість КАРГО доставки з Китаю
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            КАРГО - це комплексна послуга, що включає доставку, митне оформлення та мінімізацію
                            бюрократії. Ви передаєте вантаж нам, а ми беремо на себе всі етапи його транспортування.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Який термін доставки із Китаю?
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            В середньому, доставка займає 10–25 днів. Конкретний термін залежить від способу перевезення
                            та міста відправки в Китаї.
                        </div>
                    </div>
                </div>
            </div>
            <form class="questions-form">
                <h3 class="questions-form__title">Залишились питання?</h3>
                <h6 class="questions-form__subtitle">Залиште заявку і наш менеджер відповість вам найближчим часом</h6>
                <div class="input-box">
                    <input type="text" id="name" placeholder="Ім'я *">
                </div>
                <div class="input-box">
                    <input type="text" id="telephone" placeholder="Телефон *">
                </div>
                <div class="input-box">
                    <input type="number" id="email" placeholder="E-mail">
                </div>
                <div class="input-box">
                    <textarea name="question" id="question" placeholder="Ваше запитання"></textarea>
                </div>
                <a href="#" class="btn btn-primary btn-lg">Надіслати запит<img src="./assets/img/icon-arrow-left.svg" alt="arrow"></a>
            </form>
        </div>
    </div>
</section>