<section id="services" class="services bg-accent">
    <div class="container">
        <div class="template-title">
            <h2>Услуги</h2>
        </div>
        <div class="template-carousel">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card card_services" style="background-image: url(./assets/img/services-1.png);">
                            <div class="card-body">
                                <h5 class="card-title">Выкуп товара</h5>
                                <p class="card-text">Компания - это полный комплекс логистических услуг по доставке
                                    грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги
                                    посредника ТаоБао, КАРГО Китай-Украина.
                                </p>
                                <div class="card__btn-row">
                                    <a href="#" class="btn btn-sm btn-secondary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card card_services" style="background-image: url(./assets/img/services-2.png);">
                            <div class="card-body">
                                <h5 class="card-title">Страховка груза</h5>
                                <p class="card-text">Компания - это полный комплекс логистических услуг по доставке
                                    грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги
                                    посредника ТаоБао, КАРГО Китай-Украина.
                                </p>
                                <div class="card__btn-row">
                                    <a href="#" class="btn btn-sm btn-secondary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card card_services" style="background-image: url(./assets/img/services-3.png);">
                            <div class="card-body">
                                <h5 class="card-title">Аренда склада</h5>
                                <p class="card-text">Компания - это полный комплекс логистических услуг по доставке
                                    грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги
                                    посредника ТаоБао, КАРГО Китай-Украина.
                                </p>
                                <div class="card__btn-row">
                                    <a href="#" class="btn btn-sm btn-secondary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card card_services" style="background-image: url(./assets/img/services-4.png);">
                            <div class="card-body">
                                <h5 class="card-title">Оплата груза</h5>
                                <p class="card-text">Компания - это полный комплекс логистических услуг по доставке
                                    грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги
                                    посредника ТаоБао, КАРГО Китай-Украина.
                                </p>
                                <div class="card__btn-row">
                                    <a href="#" class="btn btn-sm btn-secondary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-arrow-container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>