<section>
    <div class="container">
        <!-- Titles -->
        <div class="template-title">
            <h2>Готовы к сотрудничеству?</h2>
            <h3>Зарегистрируйте груз!</h3>
        </div>

        <div class="template-title">
            <h2>Готовы к сотрудничеству?</h2>
        </div>

        <div class="template-title template-title_case-2">
            <h2>О компании</h2>
        </div>

        <div class="template-title template-title_case-3">
            <h2>Получить рассчет стоимости доставки вашего груза</h2>
        </div>

        <!-- Buttons -->
        <a href="#" class="btn btn-primary">Оставить заявку</a>
        <a href="#" class="btn btn-primary btn-sm">Оставить заявку</a>
        <a href="#" class="btn btn-primary btn-lg">Рассчитать стоимость <img src="./assets/img/icon-arrow-left.svg"
                alt="arrow"></a>
        <a href="#" class="btn btn-secondary">Подробнее</a>

        <!-- Cards -->
        <div class="card card_services" style="background-image: url(./assets/img/services-1.png);">
            <div class="card-body">
                <h5 class="card-title">Выкуп товара</h5>
                <p class="card-text">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в
                    Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.
                </p>
                <div class="card__btn-row">
                    <a href="#" class="btn btn-sm btn-secondary">Подробнее</a>
                </div>
            </div>
        </div>
</section>